nav {
  padding: 30px 100px;
}

/* Reset some default styles */
body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Styles for the navbar */
.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list {
  display: flex;
  gap: 1.5rem;
}

.nav-item {
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: brown;
}